<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/admin.css">
</head>

<body>

</body>

</html>
    <main>
        <nav>
            <div><a href="/admin/register">Inscription</a></div>
            <div><a href="/admin/login">Me connecter</a></div>
        </nav>
        <h2>Connexion</h2>
        {{log document}}
        <form action="/admin/login" method="POST">
            <div>
                <label for="name">Nom d'utilisateur</label>
                <input type="text" name="name" id="name" placeholder="Nom d'utilisateur">
            </div>
            <div>
                <label for="password">Mot de passe</label>
                <input type="password" name="password" id="password" placeholder="Mot de passe">
            </div>
            <input type="submit" value="Soumettre">
        </form>
    </main>
    
{{#if error}}
<div class="error">{{error}}</div>
{{/if}}