<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="/stylesheets/admin.css">
    </head>

    <body>
        <header>
            <nav>
                <ul>
                    <li class="logout"><a href="/admin/logout">Déconnexion</a></li>
                    <li><a href="/admin/contents">Gestion des contenus</a></li>
                    <li><a href="/admin/articles">Gestion des articles</a></li>
                </ul>
            </nav>
        </header>
        <main>
            {{#if typeEditContent}}

                <p>Veuillez indiquer les modifications à apporter</p>
                <form action="/admin/contents/edit/{{data._id}}" method="POST">
                    <div>
                        <label for="form-content">{{data.section_name}}</label>
                        <textarea name="body" id="form-content" cols="30" rows="10" placeholder="Contenu de la section selectionné">{{data.body}}</textarea>
                    </div>
                    <input type="submit" value="Soumettre">
                </form>

            {{else if typeEditArticle}}

                <p>Veuillez indiquer les modifications à apporter</p>
                <form action="/admin/articles/edit/{{data._id}}" method="POST">

                    <div>
                        <label for="form-title">Titre</label>
                        <input type="text" name="title" id="form-title" placeholder="Titre de l'article" value="{{data.title}}">
                    </div>

                    <div>
                        <label for="form-author">Auteur</label>
                        <input type="text" name="author" id="form-author" placeholder="Auteur de l'article" value="{{data.author}}">
                    </div>

                    <div>
                        <label for="form-categorie">Categorie</label>
                        <input type="text" name="categorie" id="form-categorie" placeholder="Categorie de l'article" value="{{data.categorie}}">
                    </div>
                    <div>
                        <label for="form-content">Contenu</label>
                        <textarea name="body" id="form-content" cols="30" rows="10" placeholder="Contenu de l'article">{{data.body}}</textarea>
                    </div>

                    <input type="submit" value="Soumettre">
                    <a class="delete" href="/admin/articles/delete/{{data.id}}">Supprimer</a>
                </form>

            {{else if typeAddArticle }}

                <p>Veuillez ajouter les informations de l'article</p>
                <form action="/admin/articles/add" method="POST">

                    <div>
                        <label for="form-title">Titre</label>
                        <input type="text" name="title" id="form-title" placeholder="Titre de l'article">
                    </div>

                    <div>
                        <label for="form-author">Auteur</label>
                        <input type="text" name="author" id="form-author" placeholder="Auteur de l'article">
                    </div>

                    <div>
                        <label for="form-categorie">Categorie</label>
                        <input type="text" name="categorie" id="form-categorie" placeholder="Categorie de l'article">
                    </div>

                    <div>
                        <label for="form-content">Contenu</label>
                        <textarea name="body" id="form-content" cols="30" rows="10" placeholder="Contenu de l'article"></textarea>
                    </div>

                    <input type="submit" value="Soumettre">
                </form>
                
            {{/if}}
        </main>
    </body>
    
</html>