<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="/stylesheets/admin.css">
    </head>

    <body>
        <header>
            <nav>
                <ul>
                    <li class="logout"><a href="/admin/logout">Déconnexion</a></li>
                    <li><a href="/admin/contents">Gestion des contenus</a></li>
                    <li><a href="/admin/articles">Gestion des articles</a></li>
                </ul>
            </nav>
        </header>
        <main>
            {{#if typeContents }}
                <p>Quelle page voulez-vous modifier ?</p>
                <nav>
                    <ul>
                        <li><a href="/admin/contents/home">Présentation</a></li>
                        <li><a href="/admin/contents/marketing">Marketing</a></li>
                        <li><a href="/admin/contents/blog">Blog</a></li>
                        <li><a href="/admin/contents/about">À propos</a></li>
                        <li><a href="/admin/contents/contact">Contact</a></li>
                        <li><a href="/admin/contents/other">Header / Footer</a></li>
                    </ul>
                </nav>
            {{else if typePage }}
                <p>Quel contenu de cette page voulez vous modifier ?</p>
                <nav>
                    <ul> 
                        {{#each data}}
                            <li><a href="/admin/contents/edit/{{_id}}">{{section_name}}</a></li>
                        {{/each}}
                    </ul>
                </nav>
            {{else if typeArticles }}
                <p>Articles</p>
                <a class="create" href="/admin/articles/add">Créer un article</a>
                <nav>
                    <ul> 
                        {{#each data}}
                            <li><a href="/admin/articles/edit/{{_id}}">{{title}}</a></li>
                        {{/each}}
                    </ul>
                </nav>
            {{/if}}
        </main>
    </body>

</html>