<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Trirong:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>{{ c.60a8152d381fb46fe409bcdf.body }}</title>
</head>

<body>

    <header>
        <div class="container-fluid p-0">
            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand" href="index">
                    <img src="/images/LOGO_haut.svg" width="62" height="62" class="d-inline-block align-top"
                        alt="Logo en forme d'orange">
                </a>
                <h1 class="nomCompagnie">Orange Marketing</h1>
                <button class="navbar-toggler navbar-toggler-right navbar-dark" type="button" data-toggle="collapse"
                    data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggler">
                    <div class="mr-auto"></div>
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="index">{{ c.60a6fb49d991119e8a93ac4d.body }}<span
                                    class="sr-only">(current)</span></a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="marketing">{{ c.60a6fbd4a81a912530d87d62.body }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="blog">{{ c.60a6fbf1a81a912530d87d63.body }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="apropos">{{ c.60a6fc01a81a912530d87d64.body }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact">{{ c.60a6fc0aa81a912530d87d65.body }}</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <main>

        <section class="container pt-5">
            <div class="jumbotron">
                <div class="haut-section-1">
                    <h1>{{ c.60a819fd381fb46fe409bcf2.body }}</h1>
                </div>
                <div class="content flex-md-row">
                    <div class="d-flex flex-md-row flex-wrap">
                        <div class="col p-3">
                            <h2>Histoire de l'entreprise</h2>
                            <p class="text-left">
                                {{ c.60a81aea381fb46fe409bcf4.body }}
                            </p>
                            <p class="text-left">
                                {{ c.60a81afd381fb46fe409bcf5.body }}
                            </p>
                            <p class="text-left">
                                {{ c.60a81b09381fb46fe409bcf6.body }}
                            </p>
                            <button class="btn btn-sm float-right" type="button">{{ c.60a81b25381fb46fe409bcf7.body }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="container text-center pt-5">
            <div class="jumbotron">
                <div class="haut-section-2">
                    <h1>{{ c.60a81b4e381fb46fe409bcf8.body }}</h1>
                </div>
                <div class="content flex-md-row p-2">
                    <div class="photo d-flex flex-md-row flex-wrap justify-content-center">
                        <div class="cerclePhoto col-4">
                            <img src="/images/profil-David.png" alt="David">
                            <h3>{{ c.60a81b8b381fb46fe409bcf9.body }}</h3>
                            <p>{{ c.60a81ba2381fb46fe409bcfa.body }}</p>
                            <span></span>
                        </div>
                        <div class="cerclePhoto col-4">
                            <img src="/images/profil-gabriel.png" alt="Gabriel">
                            <h3>{{ c.60a81bb5381fb46fe409bcfb.body }}</h3>
                            <p>{{ c.60a81bbe381fb46fe409bcfc.body }}</p>
                        </div>
                        <div class="cerclePhoto col-4">
                            <img src="/images/profil-Julie.png" alt="Julie">
                            <h3>{{ c.60a81bcf381fb46fe409bcfd.body }}</h3>
                            <p>{{ c.60a81bd9381fb46fe409bcfe.body }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="page-footer font-small stylish-color-dark pt-4">
        <div class="container text-center text-md-left">
            <div class="row">
                <div class="col-md-4 mx-auto">
                    <h4 class="font-weight-bold text-uppercase mt-3 mb-4">{{ c.60a6fc31a81a912530d87d66.body }}</h4>
                    <p>{{ c.60a6ff73a81a912530d87d68.body }}</p>
                    <p>{{ c.60a6ffa6a81a912530d87d69.body }}</p>
                    <p>{{ c.60a6ffe2a81a912530d87d6a.body }}</p>
                    <p>{{ c.60a6fffca81a912530d87d6b.body }}</p>
                </div>
                <hr class="clearfix w-100 d-md-none">
                <div class="col-md-2 mx-auto">
                    <h4 class="font-weight-bold text-uppercase mt-3 mb-4">{{ c.60a704f7a81a912530d87d6c.body }}</h4>
                    <ul class="list-unstyled">
                        <li>
                            <a href="marketing">{{ c.60a70566a81a912530d87d6d.body }}</a>
                        </li>
                        <li>
                            <a href="marketing">{{ c.60a7056ca81a912530d87d6e.body }}</a>
                        </li>
                        <li>
                            <a href="marketing">{{ c.60a70572a81a912530d87d6f.body }}</a>
                        </li>
                    </ul>
                </div>
                <hr class="clearfix w-100 d-md-none">
                <div class="col-md-2 mx-auto">
                    <h4 class="font-weight-bold text-uppercase mt-3 mb-4">{{ c.60a705a6a81a912530d87d70.body }}</h4>
                    <ul class="list-unstyled">
                        <li>
                            <a href="index">{{ c.60a80c5f381fb46fe409bcd8.body }}</a>
                        </li>
                        <li>
                            <a href="index">{{ c.60a705bfa81a912530d87d71.body }}</a>
                        </li>
                        <li>
                            <a href="article">{{ c.60a705d0a81a912530d87d72.body }}</a>
                        </li>
                    </ul>
                </div>
                <hr class="clearfix w-100 d-md-none">
                <div class="col-md-2 mx-auto">
                    <h4 class="font-weight-bold text-uppercase mt-3 mb-4">{{ c.60a705fda81a912530d87d73.body }}</h4>
                    <ul class="list-unstyled">
                        <li>
                            <a href="apropos">{{ c.60a70612a81a912530d87d74.body }}</a>
                        </li>
                        <li>
                            <a href="apropos">{{ c.60a7061da81a912530d87d75.body }}</a>
                        </li>
                        <li>
                            <a href="contact">{{ c.60a70629a81a912530d87d76.body }}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <hr>
        <ul class="list-unstyled list-inline text-center py-2">
            <li class="list-inline-item">
                <h4 class="mb-1">{{ c.60a70657a81a912530d87d77.body }}</h4>
            </li>
            <li class="list-inline-item">
                <a href="contact" class="btn">{{ c.60a70669a81a912530d87d78.body }}</a>
            </li>
        </ul>
        <hr>
        <ul class="list-unstyled list-inline text-center">
            <li class="list-inline-item">
                <a href="https://www.facebook.com/" class="btn-floating btn-lg mx-1">
                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="https://twitter.com/?lang=fr" class="btn-floating btn-lg mx-1">
                    <i class="fa fa-twitter-square" aria-hidden="true"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="https://www.redditinc.com/" class="btn-floating btn-lg mx-1">
                    <i class="fa fa-reddit-square" aria-hidden="true"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/" class="btn-floating btn-lg mx-1">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
        <div class="footer-copyright text-center py-3">{{ c.60a7068ba81a912530d87d79.body }}</div>
        <a id="scroll-to-top" href="#" class="btn" role="button" title="Retour haut de page" data-toggle="tooltip"
            data-placement="left"><i class="fa fa-arrow-up"></i></a>
    </footer>

    <script src="/javascripts/script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"
        integrity="sha512-WNLxfP/8cVYL9sj8Jnp6et0BkubLP31jhTG9vhL/F5uEZmg5wEzKoXp1kJslzPQWwPT1eyMiSxlKCgzHLOTOTQ=="
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
        integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
        crossorigin="anonymous"></script>
</body>

</html>