<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Modification de l'article</title>
    </head>
    <body>
        <h1>Modifier l'article: {{Title}}</h1>
        <form action="/admin/articles/{{_id}}">
            <input type="text" name="title" id="form-title" placeholder="Titre" value="{{title}}">
            <input type="text" name="author" id="form-author" placeholder="Auteur" value="{{author}}">
            <input type="text" name="categorie" id="form-categorie" placeholder="Categorie" value="{{categorie}}">
            <textarea name="body" id="form-body" cols="30" rows="10">{{message}}</textarea>
            <input type="submit" value="Modifier">
        </form>
    </body>
</html>