<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Trirong:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Page Contact</title>
</head>

<body>

    <header>
        <div class="container-fluid p-0">
            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand" href="index">
                    <img src="/images/LOGO_haut.svg" width="62" height="62" class="d-inline-block align-top"
                        alt="Logo en forme d'orange">
                </a>
                <h1 class="nomCompagnie">Orange Marketing</h1>
                <button class="navbar-toggler navbar-toggler-right navbar-dark" type="button" data-toggle="collapse"
                    data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggler">
                    <div class="mr-auto"></div>
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="index">{{ c.60a6fb49d991119e8a93ac4d.body }}<span
                                    class="sr-only">(current)</span></a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="marketing">{{ c.60a6fbd4a81a912530d87d62.body }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="blog">{{ c.60a6fbf1a81a912530d87d63.body }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="apropos">{{ c.60a6fc01a81a912530d87d64.body }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact">{{ c.60a6fc0aa81a912530d87d65.body }}</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <main>
        <div class="contact-box">
            <section class="container p-4">
                <h1>{{ c.60a81c7c381fb46fe409bcff.body }}</h1>
                <form class="col-md-6 p-4" id="formulaire" name="RegForm" aria-label="formulaire de contact"
                    onsubmit="return validateForm()" action="/contact" method="POST">
                    <h3>{{ c.60a8302b9205a02160bcf2ea.body }}</h3>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputPrenom">{{ c.60a81ca1381fb46fe409bd00.body }}</label>
                            <input type="text" pattern="[a-zA-Z ]{3,}" size="20" class="form-control" id="inputPrenom"
                                placeholder="Prénom" name="Prénom">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputNom">{{ c.60a81cac381fb46fe409bd01.body }}</label>
                            <input type="text" pattern="[a-zA-Z ]{3,}" size="20" class="form-control" id="inputNom"
                                placeholder="Nom" name="Nom">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail">{{ c.60a81cbc381fb46fe409bd02.body }}</label>
                        <input type="email" class="form-control" id="inputEmail" placeholder="Courriel" name="Courriel">
                    </div>
                    <div class="form-group">
                        <label for="inputPassword">{{ c.60a81ccf381fb46fe409bd03.body }}</label>
                        <input type="password" pattern="[a-zA-Z ]{5,}" size="20" class="form-control" id="inputPassword"
                            placeholder="Motdepasse" name="Motdepasse">
                    </div>
                    <button type="submit" value="Soumettre" class="btn">{{ c.60a830029205a02160bcf2e9.body }}</button>
                </form>
            </section>
        </div>
    </main>
    <footer class="page-footer font-small stylish-color-dark pt-4">
        <div class="container text-center text-md-left">
            <div class="row">
                <div class="col-md-4 mx-auto">
                    <h4 class="font-weight-bold text-uppercase mt-3 mb-4">{{ c.60a6fc31a81a912530d87d66.body }}</h4>
                    <p>{{ c.60a6ff73a81a912530d87d68.body }}</p>
                    <p>{{ c.60a6ffa6a81a912530d87d69.body }}</p>
                    <p>{{ c.60a6ffe2a81a912530d87d6a.body }}</p>
                    <p>{{ c.60a6fffca81a912530d87d6b.body }}</p>
                </div>
                <hr class="clearfix w-100 d-md-none">
                <div class="col-md-2 mx-auto">
                    <h4 class="font-weight-bold text-uppercase mt-3 mb-4">{{ c.60a704f7a81a912530d87d6c.body }}</h4>
                    <ul class="list-unstyled">
                        <li>
                            <a href="marketing">{{ c.60a70566a81a912530d87d6d.body }}</a>
                        </li>
                        <li>
                            <a href="marketing">{{ c.60a7056ca81a912530d87d6e.body }}</a>
                        </li>
                        <li>
                            <a href="marketing">{{ c.60a70572a81a912530d87d6f.body }}</a>
                        </li>
                    </ul>
                </div>
                <hr class="clearfix w-100 d-md-none">
                <div class="col-md-2 mx-auto">
                    <h4 class="font-weight-bold text-uppercase mt-3 mb-4">{{ c.60a705a6a81a912530d87d70.body }}</h4>
                    <ul class="list-unstyled">
                        <li>
                            <a href="index">{{ c.60a80c5f381fb46fe409bcd8.body }}</a>
                        </li>
                        <li>
                            <a href="index">{{ c.60a705bfa81a912530d87d71.body }}</a>
                        </li>
                        <li>
                            <a href="article">{{ c.60a705d0a81a912530d87d72.body }}</a>
                        </li>
                    </ul>
                </div>
                <hr class="clearfix w-100 d-md-none">
                <div class="col-md-2 mx-auto">
                    <h4 class="font-weight-bold text-uppercase mt-3 mb-4">{{ c.60a705fda81a912530d87d73.body }}</h4>
                    <ul class="list-unstyled">
                        <li>
                            <a href="apropos">{{ c.60a70612a81a912530d87d74.body }}</a>
                        </li>
                        <li>
                            <a href="apropos">{{ c.60a7061da81a912530d87d75.body }}</a>
                        </li>
                        <li>
                            <a href="contact">{{ c.60a70629a81a912530d87d76.body }}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <hr>
        <ul class="list-unstyled list-inline text-center py-2">
            <li class="list-inline-item">
                <h4 class="mb-1">{{ c.60a70657a81a912530d87d77.body }}</h4>
            </li>
            <li class="list-inline-item">
                <a href="contact" class="btn">{{ c.60a70669a81a912530d87d78.body }}</a>
            </li>
        </ul>
        <hr>
        <ul class="list-unstyled list-inline text-center">
            <li class="list-inline-item">
                <a href="https://www.facebook.com/" class="btn-floating btn-lg mx-1">
                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="https://twitter.com/?lang=fr" class="btn-floating btn-lg mx-1">
                    <i class="fa fa-twitter-square" aria-hidden="true"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="https://www.redditinc.com/" class="btn-floating btn-lg mx-1">
                    <i class="fa fa-reddit-square" aria-hidden="true"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/" class="btn-floating btn-lg mx-1">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
        <div class="footer-copyright text-center py-3">{{ c.60a7068ba81a912530d87d79.body }}</div>
        <a id="scroll-to-top" href="#" class="btn" role="button" title="Retour haut de page" data-toggle="tooltip"
            data-placement="left"><i class="fa fa-arrow-up"></i></a>
    </footer>
    <script src="/public/javascripts/script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"
        integrity="sha512-WNLxfP/8cVYL9sj8Jnp6et0BkubLP31jhTG9vhL/F5uEZmg5wEzKoXp1kJslzPQWwPT1eyMiSxlKCgzHLOTOTQ=="
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
        integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
        crossorigin="anonymous"></script>
</body>

</html>
