body {
    margin: 0;
    font-family: sans-serif;
    background-color: #F5F7F8;
}

ul, li, a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: #000;
}

/* HEADER PAGE */
header {
    padding: 0 20px;
    background-color: #fff;
    box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.2);
}

header ul {
    height: 75px;
    display: flex;
    align-items: center;
}

header li.logout {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #206385;
    box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.2);
}

header li.logout a {
    color: #fff;
    margin: 0;
}

header li a {
    display: block;
    margin: 10px 20px;
    font-weight: bold;
    color: #206385;
}


/* MAIN PAGE */
main {
    margin: 100px 120px;
}

main nav, main form {
    width: 400px;
}

main li {
    margin: 0 0 20px 0;
    border-radius: 5px;
    background: #fff;
    box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.2);
}

main li a {
    display: block;
    padding: 20px 40px;
}


/* FORM */
main form > div {
    display: flex;
    flex-direction: column;
    margin: 0 0 20px 0;
}

main form label {
    margin: 0 0 5px 10px;
    font-weight: bold;
    text-shadow: 1px 2px 6px rgba(0, 0, 0, 0.2);
}

main form input, main form textarea, main form .delete {
    width: 100%;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    background: #fff;
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    box-sizing: border-box;
}

main form input[type="submit"], main form .delete {
    background-color: #206385;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}

main form .delete {
    display: block;
    text-align: center;
    margin: 10px 0 0 0;
    background-color: #b72e2e;
}

main .create {
    display: inline-block;
    padding: 15px 20px;
    margin: 0 0 20px 0;
    border-radius: 5px;
    font-weight: bold;
    color: #fff;
    background-color: #57a257;
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.2);
}