
* {
    box-sizing: border-box;
}

header,
section {
    overflow-x: hidden;
}

body {
    background-image: linear-gradient(180deg, #5c67af, #38c4e4, #5c67af, #38c4e4);
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.nomCompagnie {
    font-family: 'Trirong', serif;
    font-style: italic;
    color: #F5812C;
}

.btn {
    padding: 10px 20px;
    background-color: #F5812C;
    text-align: center;
    color: #292b38;
    font-weight: bold;
    border-radius: 0.2em;
    box-shadow: 0 5px #5c67af5d;
}

.btn:hover {
    background-color: #fcb63a;
}

.btn:active {
    background-color: #fcb63a;
    box-shadow: 0 5px #5c67af;
    transform: translateY(4px);
}

a {
    font-family: 'Nunito Sans', sans-serif;
    color: #f5812c;
    font-weight: bold;
}

p {
    font-family: 'Nunito Sans', sans-serif;
    color: #292b38;
    animation-duration: 3s;
    animation-name: slide-left 10s;
}

.phrasesAnim {
    width: 100%;
    overflow: hidden;
}

.phrase-1,
.phrase-2,
.phrase-3 {
    position: absolute;
    display: block;
    width: 100%;
    animation-duration: 30s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.phrase-1 {
    animation-name: anim-1;
}

.phrase-2 {
    animation-name: anim-2;
}

.phrase-3 {
    animation-name: anim-3;
}

@keyframes anim-1 {
    0%,
    8.3% {
        left: -100%;
        opacity: 0;
    }
    8.3%,
    25% {
        left: 25%;
        opacity: 1;
    }
    33.33%,
    100% {
        left: 110%;
        opacity: 0;
    }
}

@keyframes anim-2 {
    0%,
    33.33% {
        left: -100%;
        opacity: 0;
    }
    41.63%,
    58.29% {
        left: 25%;
        opacity: 1;
    }
    66.66%,
    100% {
        left: 110%;
        opacity: 0;
    }
}

@keyframes anim-3 {
    0%,
    66.66% {
        left: -100%;
        opacity: 0;
    }
    74.96%,
    91.62% {
        left: 25%;
        opacity: 1;
    }
    100% {
        left: 110%;
        opacity: 0;
    }
}

h1,
h2,
h3,
nav {
    font-family: 'Trirong', serif;
    color: #292b38;
}

h4,
h5,
h6 {
    font-family: 'Nunito Sans', sans-serif;
    color: #292b38;
}

.nav-link {
    color: #fff;
    font-weight: bold;
}

.nav-link:hover {
    color: #fcb63a;
    font-weight: bold;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: #fff;
    min-width: 160px;
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    display: block;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
}

.dropdown-content a:hover {
    background: #fff;
}

.dropdown:hover .dropdown-content {
    display: block;
}

header .nav-item:last-child {
    padding-right: 10.5em;
}

header .nav-item {
    padding: 0.9em;
}

header .navbar-brand:hover {
    color: #fff;
}

header .row.col-md-5 {
    padding: 4.2vmin 1vmin;
}

header .row.col-md-7 {
    padding: 22vmin 1vmin;
    padding-bottom: 35vmin;
    font-family: 'Nunito Sans', sans-serif;
}

header .row.col-md-5 img {
    width: 90%;
}


/*section 1*/

.section-right,
.section-left {
    padding: 20vmin 0;
}

.section-right .row .col-md-6 .img-2 img,
.section-left .row .col-md-6 .img-2 img {
    opacity: 1;
    width: 100%;
    border-radius: 0.2em;
    box-shadow: 0px 25px 42px #292b38be;
}

.section-right .row .col-md-6:last-child,
.section-left .row .col-md-6:last-child {
    position: relative;
}

.section-right .row .col-md-6 .box,
.section-left .row .col-md-6 .box {
    position: absolute;
    top: 4vmin;
    left: 1vmin;
    background: #fff;
    border-radius: 3px;
    text-align: left;
    padding: 1rem 1rem 0rem 1rem;
    box-shadow: 0px 25px 30px #292b387c;
    font-family: 'Nunito Sans', sans-serif;
}

.section-right .row .col-md-6 .box h1,
.section-left .row .col-md-6 .box h1 {
    font-weight: bold;
    padding: 0.4em 0;
    font-size: 2.5em;
}

.section-right .row .col-md-6 .box p,
.section-left .row .col-md-6 .box p {
    font-size: 0.9em;
    color: #292b38;
}

.box {
    z-index: 1;
}



/*section apropos*/

.jumbotron {
    width: 100%;
    text-align: center;
    background-color: #fff;
    border-radius: 0.3rem;
    padding: 0;
}

.jumbotron .content {
    align-items: center;
}

.haut-section-1 h1,
.haut-section-2 h1 {
    text-align: left;
    color: #fff;
    font-family: 'Trirong', serif;
}

.haut-section-2 h3 {
    text-align: left;
    color: #fcb53a;
    font-family: 'Trirong', serif;
}

.haut-section-1,
.haut-section-2 {
    width: 100%;
    height: 120px;
    text-align: left;
    opacity: 0.6;
    padding: 1em;
    background-image: url(/images/fond_circuit_lien.png);
    border-radius: 0.3rem;
}


/*carousel*/

.carousel-caption {
    background: #fcd084ce;
    border-radius: 1em;
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
}

.carousel-fade .carousel-item {
    opacity: 0;
    transition-duration: .6s;
    transition-property: opacity;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
    opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
    opacity: 0;
}

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev {
    transform: translateX(0);
    transform: translate3d(0, 0, 0);
}

/*formulaire contact*/

.contact-box {
    display: flex;
    border-radius: 1em;
    background-color: #fcb53a;
    width: 80%;
    margin-left: 10rem;

}

form {
    background-color: #fff;
    border-radius: 1em;
}


/*cards articles*/

.card-img-top {
    opacity: 0.6;
}

.card-img-top:hover {
    opacity: 1;
    transition: opacity 2s;
}


/*footer*/

footer {
    background: whitesmoke;
    overflow-x: hidden;
    padding: 10vmin 15vmin;
    margin-top: 5vmin;
}

footer span {
    color: orangered;
}

footer input {
    border: none;
}

footer .column i {
    color: #f5812c;
}



/*fleche vers haut de page*/

#scroll-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: hidden;
}


/*search blog*/

.p-md-2 {
    color: #fff;
    font-size: 1.3em;
}

.dropdown-menu {
    color: #292b38;
    font-size: 1.2em;
}


/*menu hamburger*/

.navbar-toggler {
    line-height: 1;
    border: 1px solid #fff;
}


/*paragraphe box*/

.box {
    color: #292b38;
    font-size: 1.3em;
}

/* INPUT NON VALIDE FORMULAIRE */

input:invalid {
    color: red;
}

/*phrase vistez blog*/

.section-api {
    color: #292b38;
    font-size: 2em;
}
